




h1{
	font-family: 'Rouge Script', cursive;
	color: white;
	font-size: 110px;
	font-weight: bold;
}


h2,h3,h4,h5{

  font-family: "Roboto", sans-serif;
  

}

p, div{
	font-family: "arial", sans-serif;
	font-size: 14px
}

#navbar-perso{
	background:white !important;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	z-index:3;
}


.centered {
	text-align: center;
	/**font-family: 'Inconsolata', monospace;**/
}

.menu {
	height: 500px;
	background: url(images/enteteroute.jpg) no-repeat center center;
	background-attachment:fixed;
	width: 100%;
  	background-size: cover;
	margin-top: 15px;
}

a {
	text-decoration: none;
}


#presentation{
	text-align: center;
	font-size: 100px;
	font-family: "roboto", sans-serif;
	display: inline-block;
	margin-top: 45px;
}


.rounded {
	border-radius: 70%!important;
}



.form {
	margin:auto;
	width: 50%;
}

.white{
	color: white;
}


#footer{
	height: 340px;
    background: url(images/footer3.jpg) no-repeat center center;
    /* background-size: cover; */
    color: white;
}

#chefdeprojet {
	color: white;
	text-align:center;
	font-family: "roboto", sans-serif;
	font-size: 30px;
}



#engie {
  font-family: courier, sans-serif;
  	padding-left: 10px;
	padding-right: 10px;
}

#bnpparibas {
	padding-left: 10px;
	padding-right: 10px;
	font-family: courier, sans-serif;
}

#directemploi{
	font-family: courier, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

.container-fluid{

}

.italic{
	font-weight: bold;
	font-style: italic;
}

.darty {
	background-color: rgba(244,243,242,0.8);
	margin: 5px;
	padding: 10px;
}

.drapeau {
	border-radius: 15px;
    position: relative;
    margin: 0 auto;
    display: inherit;
}

#img-linkedin{
	height:25px;
    margin-top: -7px;
}


#btn-contact{
	padding-top: 10px;
    padding-bottom: 10px;
}


	#photo {
		border-radius: 20px;
		border-radius: 70%;
		margin-top: 150px;
	}

	.background-beige {
		background-color: #E8E4DF;
	}
	/*#hobbies {
		background-color: rgba(244,243,242,0.8);
	}*/

	.trait_dessus{
		border-top: 1px solid #7a3b4f;
		width : 100%;
		margin: 0px 30px 25px 30px;
	} 

	#carouselExampleIndicators, .carousel-item > img, #carouselExampleIndicators > .carousel-inner{
		max-height: 300px;
	}

	#carouselExampleIndicators{
		margin-bottom: 20px;
	}
	

	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-left-40{
		padding-left: 40px;
	}
	.padding-left-30{
		padding-left: 30px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-40 {
		padding-top: 40px;
	}
	#competences {
		padding-top: 55px;
	}
	
	ul.navbar-nav{
		line-height: 26px;
	}
@media (max-width: 663px) {
	#competences{
	    margin-top: 70px;
	}
	#presentation{
		padding-top: 55px !important;
		font-size: 83px;
	}
	#photo {
		margin-top: 95px;
	}
}
@media (max-width: 576px) {
	#competences{
	    margin-top: 90px;
	}
	#presentation{
		padding-top: 0px !important;
		font-size: 83px;
	}
	#photo {
		margin-top: 20px;
	}
}
@media (max-width: 291px) {
	h1{
		font-family: 'Rouge Script', cursive;
		color: black;
		font-size: 83px;
		font-weight: bold;
	}
	h2{
		font-size: 26px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	h2,h3,h4,h5{
	  font-family: "Roboto", sans-serif;
	}
	#competences{
	    margin-top: 120px;
	}
	#presentation{
		padding-top: 30px !important;
		font-size: 120px;
	}
	#photo {
		margin-top: 10px;
	}
}